<main class="container-fluid content-container">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-xs-2 offset-xl-2 content">
                <article>
                    <h1>Forget Angular 3, Google jumps straight to Angular 4</h1>
                    <p>Last month, Google surprised everyone when it detailed plans for Angular 3 to
                       be released a short six months after Angular 2's arrival. Now it turns out there
                       will be no Angular 3 release after all. Instead, Google will go right to version
                       4 of its popular JavaScript framework in March.
                   <a href="http://www.infoworld.com/article/3150716/application-development/forget-angular-3-google-skips-straight-to-angular-4.html">Original source</a>
                    </p>
                </article>
<!----------------------------------------------------------------------------------------------->
<article>
                    <h1>Forget Angular 3, Google jumps straight to Angular 4</h1>
                    <p>Last month, Google surprised everyone when it detailed plans for Angular 3 to
                       be released a short six months after Angular 2's arrival. Now it turns out there
                       will be no Angular 3 release after all. Instead, Google will go right to version
                       4 of its popular JavaScript framework in March.
                   <a href="http://www.infoworld.com/article/3150716/application-development/forget-angular-3-google-skips-straight-to-angular-4.html">Original source</a>
                    </p>
                </article>
<!------------------------------------------------------------------------------------------->
<article>
                    <h1>Forget Angular 3, Google jumps straight to Angular 4</h1>
                    <p>Last month, Google surprised everyone when it detailed plans for Angular 3 to
                       be released a short six months after Angular 2's arrival. Now it turns out there
                       will be no Angular 3 release after all. Instead, Google will go right to version
                       4 of its popular JavaScript framework in March.
                   <a href="http://www.infoworld.com/article/3150716/application-development/forget-angular-3-google-skips-straight-to-angular-4.html">Original source</a>
                    </p>
                </article>
<!-------------------------------------------------------------------------------------------->
<article>
                    <h1>Forget Angular 3, Google jumps straight to Angular 4</h1>
                    <p>Last month, Google surprised everyone when it detailed plans for Angular 3 to
                       be released a short six months after Angular 2's arrival. Now it turns out there
                       will be no Angular 3 release after all. Instead, Google will go right to version
                       4 of its popular JavaScript framework in March.
                   <a href="http://www.infoworld.com/article/3150716/application-development/forget-angular-3-google-skips-straight-to-angular-4.html">Original source</a>
                    </p>
                </article>
<!---------------------------------------------------------------------------------------------->
<article>
                    <h1>Forget Angular 3, Google jumps straight to Angular 4</h1>
                    <p>Last month, Google surprised everyone when it detailed plans for Angular 3 to
                       be released a short six months after Angular 2's arrival. Now it turns out there
                       will be no Angular 3 release after all. Instead, Google will go right to version
                       4 of its popular JavaScript framework in March.
                   <a href="http://www.infoworld.com/article/3150716/application-development/forget-angular-3-google-skips-straight-to-angular-4.html">Original source</a>
                    </p>
                </article>
<!--------------------------------------------------------------------------------------------->
<!--
                <nav aria-label="..." class="col-xs-12 col-sm-12 col-md-12 col-12-lg col-xl-12 text-xs-center">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a href="#" tabindex="-1" aria-label="Previous" class="page-link">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a href="#" class="page-link">1<span class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" aria-label="Next" class="page-link">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span></a>
                        </li>
                    </ul>
                </nav>
-->
            </div>
        </div>
    </main>